
body {
    font-family: Arial, sans-serif;
    background-color: #d99462;
    font-size: 16px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}
.resources-container {
    background-color: #fff4dc;
    padding: 20px;
    border-radius: 0;
}
header {
    background-color: #00140d;
    padding: 10px 0;
    text-align: center;
    color: white;
}
section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.container-dark {
    background-color: #086366;
    padding: 80px;
    width: 85%;
    margin: 0 auto;
    border-radius: 0;
    z-index: 5;
    position: relative;
}
.container-light {
    background-color: #fff4dc;
    padding: 80px;
    border-radius: 0;
    
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.column {
    flex: 1;
    padding: 10px;
    text-align: center;
}
.column-1 {
    flex: 1;
    padding: 10px;
    text-align: left;
    
}
.column-2 {
    flex: 1;
    padding: 10px;
    text-align: right;
    color: #ffffff;
}
.column img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

nav {
    background-color: #00140d;
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #ddd;
    color: black;
}
nav::after {
    content: "";
    clear: both;
    display: table;
}
#nav-logo {
    height: 80px;
    float: left;
    margin-right: 10px;
    padding: 10px;
}
#social-media {
    list-style: none;
    float: right;
}
#social-media li {
    display: inline;
    margin-left: 10px;
}
#social-media a {
    color: #ffffff;
    text-decoration: none;
}
#social-media a:hover {
    color: #555;
}
.fa {
    font-size: 24px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.form-group label {
    margin-bottom: 5px;
    color: #333;
}
.form-group input[type='text'],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fefbe5;
    color: #061913;
}
.form-group label, .form-group input {
    width: 68%;
    margin-bottom: 5px;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
}
.form-group input {
    margin-bottom: 5px;
    border: 1px solid #ddd;
}
input::placeholder {
    background-color: #fefbe5;
    color: #061913;
}

button {
    background-color: #f18e6b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
}
button:hover {
    background-color: #005f73;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: #066869;
    color: white;
    text-align: center;
    padding: 20px 0;
}
footer p {
    margin: 10px 0;
}


.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: block;
    transition: 0.5s ease;
}

#resources ul {
    padding-left: 20px; 
}

#resources li {
    margin-bottom: 10px; 
}

#resources a {
    color: #005f73; 
    text-decoration: none; 
}

#resources a:hover {
    color: #f18e6b; 
    text-decoration: underline; 
}
#contact-form {
    max-width: 500px;
    margin: auto; 
}

#contact-form h2 {
    text-align: center; 
    color: #00140d; 
    margin-bottom: 20px; 
}

#contact-form textarea {
    height: 100px; 
    resize: vertical; 
}

.container-two-columns {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 20px 0;
}

.container-two-columns .column {
    flex: 1;
    padding: 10px;
}


.container-two-columns .form-column {
    max-width: 500px; 
}
.banner-container {
    position: relative;

}

.banner-title {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 40px; 
}
.form-title {

    color: white; 
    font-size: 40px; 
}
.form-subtitle {
    font-size: 20px; 
    color: white; 
}
img[src="images/banner.png"] {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    z-index: 10;
}
@media (max-width: 768px) {
    .container, nav {
        width: 95%;
    }
    .form-group label, .form-group input, .form-group select {
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .container-two-columns {
        flex-direction: column;
    }

    .container-two-columns .form-column {
        max-width: 100%; 
    }
}
